@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  height: 100%;
}
:root {
  font-size: 14px;
  font-family: "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

.active {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* ROOT LAYOUT */
.root-page {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  transition: 0.2s;
}

.root-page > * {
  transition: 0.2s;
}
.root-page .sidebar {
  grid-area: sidebar;
  position: fixed;
  width: 270px;
  height: 100%;
  background: rgb(35, 30, 43);
  background: linear-gradient(
    168deg,
    rgba(35, 30, 43, 1) 0%,
    rgba(53, 53, 85, 1) 100%
  );
}

.root-page .header {
  grid-area: header;
  position: fixed;
  left: 270px;
  height: 60px;
  width: 100%;
}
.root-page .main-view {
  grid-area: main;
}
/* END ROOT LAYOUT */

/* ROOT LAYOUT MEDIA */
@media (max-width: 1023px) {
  .root-page {
    grid-template-columns: 80px 1fr;
  }
  .root-page .sidebar {
    width: 80px;
  }
  .root-page .header {
    left: 80px;
  }
}
/* END LAYOUT MEDIA */

/* ANIMATIONS */
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes colorize {
  0% {
    opacity: 0.5;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}
/* ANIMATIONS END */
